/* GENERAL STYLING */
strong {
    font-weight: 700;
}

body {
    font-family: 'Arimo', sans-serif;
    background-color: white;
}

.content {
    width: 960px;
    margin: 0 auto;
}

main {
    font-family: 'Arimo', sans-serif;
    font-weight: 400;
    font-size: 26pt;
    text-align: left;
    color: black;
    padding-top: 110px;
    text-shadow: 1px 1px 1px #B3B3B3;
}

.content aside {
    font-family: 'Arimo', sans-serif;
    font-weight: 400;
    font-size: 18pt;
    text-align: center;
    color: black;
    margin-top: 25px;
    margin-bottom: 90px;
}

.content .img {
    text-align: center;
    margin-top: 66px;
    margin-bottom: 25px;
}

.content figcaption {
    font-family: 'Arimo', sans-serif;
    font-weight: 400;
    font-size: 22pt;
    text-align: center;
    color: white;
}

/* ^^^^^^^^^^^^^ NAVIGATION BAR ^^^^^^^^^^^^^ */
header {
    width: 100%;
    height: 60px;
    background-color: #2b2a27;
    position: fixed;
    z-index: 1;
    padding-top: 18px;
    box-shadow: 0px 5px 15px #888888;
}

header #top {
    width: 100%;
    height: 6px;
    background-color: #7bcc3f;
}

header #logo {
    padding-top: 8px;
    float: left;
}

header nav {
    width: 400px;
    float: right;
    margin-top: 22px;
}

header nav ul {
    list-style: none;
    display: block;
    margin: 0 auto;
}

header nav li {
    float: left;
    padding-left: 50px;
}

a {
    text-decoration:none;
}

nav li a {
    color: white;
    font-size: 16px;
    text-decoration: none;
    font-family: 'Arimo';
}
nav li a:active {
    color: #7bcc3f;
    border-bottom: 1px solid #7bcc3f;
}

nav li a:hover {
    color: #7bcc3f;
    border-bottom: 1px solid #7bcc3f;
}

/*LEAKY ABSTRACTION*/
.icons_online a:hover { /*Because this class was copy paste it is used in all sections*/
    color: white;
    text-shadow: 1px 1px 1px #B3B3B3;
}

/* ^^^^^^^^^^^^^ INTRO SECTION ^^^^^^^^^^^^^ */

#intro {
    width: 100%;
    height: 760px;
    padding-top: 58px;
}

#intro #tagline {
    font-family: 'Arimo', sans-serif;
    font-weight: 700;
    font-size: 38pt;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.4);
    text-align: center;
    color: white;
    margin-top: 500px;
}

#intro aside {
    color: white;
    font-size: 30pt;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.4);
    margin-top: 25px;
}

/* ^^^^^^^^^^^^^ LEARN SECTION ^^^^^^^^^^^^^ */
#learn {
    background-image: url('../assets/background.png');
    background-repeat: repeat;
}

#learn, #onlineSection, #groupSection {
    width: 100%;
    height: 706px;
}

#learn figure {
    width: 467px; 
    height: 297px;
    float: left;
    box-shadow: 1px 1px 2px #9C9C9C;
}

#learn #online {
    margin-right: 26px;
    background-color: #ef3d6c;
}

#learn #group {
    background-color: #ba5ca3;
}

/* Carousel General Layout Settings  */

.rn-carousel-container {
    padding-top: 75px;
    padding-bottom: 30px;
}

/* ^^^^^ Learn online subsection ^^^^^ */

.about_online {
    margin-left:  1.5em;
    margin-right: 1.5em;
}


.about_online h1 {
    font-family: 'Arimo', sans-serif;
    font-weight: 700;
    font-size: 48pt;
    color: white;
    padding-bottom: 25px;
}

.about_online h2 {
    font-family: 'Arimo', sans-serif;
    font-weight: 700;
    font-size: 24pt;
    color: white;
    margin-bottom: 25px;
    margin-top: 25px;
}

.about_online p {
    font-family: 'Arimo', sans-serif;
    font-weight: 400;
    font-size: 12pt;
    color: white;
    line-height: 1.2;
}

.icons_online {
    float: left;
    margin-top: 50px;
    text-align: center;
}

.icons_online .link {
    float: left;
    margin-right: 50px;
}

.icons_online .city {
    float: left;
    margin-right: 50px;
}

.icons_online .cost {
    float: left;
    margin-right: 50px;
}

.icons_online .age {
    float: left;
    margin-right: 50px;
}

.icons_online .language {
    float: left;
    margin-right: 50px;
}

.icons_online .level {
    float: left;
}

.icons_online p {
    font-family: 'Arimo', sans-serif;
    font-weight: 400;
    font-size: 11pt;
    color: white;
    margin-top: 10px;
}

/* ^^^^^^^^^^^^^ TEACH SECTION ^^^^^^^^^^^^^ */
.carousel-content {
    width: 95%;
    margin-left: 1.5em;
    margin-right: 1.5em;
}

#teach {
    background-color: #FFFFFF
}

#teach figure {
    width: 467px; 
    height: 297px;
    float: left;
    box-shadow: 1px 1px 2px #9C9C9C;
}

#teach #club {
    margin-right: 26px;
    background-color: #7cd23c;
}

#teach #workshops {
    background-color: #6a9fa7;
}

#teach, #clubSection, #workshopsSection {
    width: 100%;
    height: 702px;
}

/* ^^^^^ teach codeclubs subsection ^^^^^ */
.icons_club {
    float: left;
    margin-bottom: 30px;
    text-align: center;
}

.icons_club h5 {
    font-family: 'Arimo', sans-serif;
    font-weight: 700;
    font-size: 12pt;
    color: white;
    margin-top: 10px;
}

.icons_club p{
    font-family: 'Arimo', sans-serif;
    font-weight: 400;
    font-size: 10pt;
    color: white;
    line-height: 1.2;
    margin-top: 10px;
}

.icons_club .volunteers {
    float: left;
    margin-right: 20px;
}

.icons_club .materials {
    float: left;
    margin-right: 20px;
}

.icons_club .place {
    float: left;
    margin-right: 20px;
}

.icons_club .students {
    float: left;
    margin-right: 20px;
}

.icons_club .plus {
    float: left;
    margin-top: 20px;
    margin-right: 20px;
}

#code_club_main .logo_club {
    width: 30%;
    margin: auto
}

.logo_club #equals {
    float: left;
    margin-right: 15px;
    margin-top: 40px;
}

.code_club_world_logo {
    width: 180px;
}

#code_club_main .club_description {
    font-family: 'Arimo', sans-serif;
    font-weight: 400;
    font-size: 12pt;
    line-height: 1.2;
    color: white;
    padding-top: 50px;
}

.code_club_slide_icon {
    width: 17%;
    margin: auto;
    padding-top: 45px;
    padding-bottom: 30px;
}

.code_club_slide h1 {
    font-family: 'Arimo', sans-serif;
    font-weight: 700;
    font-size: 32pt;
    text-align: center;
    color: white;
}

.code_club_slide p {
    font-family: 'Arimo', sans-serif;
    font-weight: 400;
    font-size: 12pt;
    line-height: 1.2;
    color: white;
    padding-top: 30px;
}

.bulletpoints li {
    list-style: circle;
}

/* ^^^^^  teach workshops subsection ^^^^^ */
#workshopsSection {
    padding-bottom: 125px;
}

#workshopsSection ul li h1 {
    font-family: 'Arimo', sans-serif;
    font-weight: 700;
    font-size: 48pt;
    color: white;
}

#workshopsSection ul li h2 {
    font-family: 'Arimo', sans-serif;
    font-weight: 700;
    font-size: 24pt;
    color: white;
    margin-bottom: 15px;
    margin-top: 25px;
}

#workshopsSection ul li h3 {
    font-family: 'Arimo', sans-serif;
    font-weight: 400;
    font-size: 24pt;
    color: white;
}

#workshopsSection ul li h4 {
    font-family: 'Arimo', sans-serif;
    font-weight: 400;
    font-size: 16pt;
    line-height: 1.2;
    color: white;
    margin-top: 30px;
}

#workshopsSection ul li p {
    font-family: 'Arimo', sans-serif;
    font-weight: 400;
    font-size: 12pt;
    line-height: 1.2;
    color: white;
}

#workshopsSection ul li .workshops_link {
    margin-top: 30px;
}

/* ^^^^^^^^^^^^^ WHY SECTION ^^^^^^^^^^^^^ */
#why {
    background-image: url('../assets/background.png');
    background-repeat: repeat;
}

#why, #languageSection, #polandSection, #consumptionSection {
    width: 100%;
    height: 490px;
}

#why figure {
    width: 302px; 
    height: 308px;
    float: left;
    box-shadow: 1px 1px 2px #9C9C9C;
}

#why figcaption {
    margin-top: 50px;
}

#why #language {
    margin-right: 26px;
}

#language, #languageSection {
    background-color: #7da2b9;
}

#why #poland {
    margin-right: 26px;
}

#poland, #polandSection {
    background-color: #bf5b9d;
}
#consumption, #consumptionSection {
    background-color: #e0cc5e;
}

#languageSection {
    padding-top: 75px;
    padding-bottom: 75px;
}

#languageSection h2 {
    font-family: 'Arimo', sans-serif;
    font-weight: 700;
    font-size: 24pt;
    color: white;
    margin-bottom: 15px;
    margin-top: 25px;
}

#languageSection ul li p {
    font-family: 'Arimo', sans-serif;
    font-weight: 400;
    font-size: 12pt;
    line-height: 1.2;
    color: white;
    margin-top: 25px;
}

#polandSection {
    padding-top: 75px;
    padding-bottom: 75px;
}

#polandSection p {
    font-family: 'Arimo', sans-serif;
    font-weight: 400;
    font-size: 12pt;
    line-height: 1.2;
    color: white;
    margin-top: 25px;
}

#polandSection .quote {
    width: 500px;
    font-family: 'Arimo', sans-serif;
    font-weight: 400;
    font-size: 11pt;
    font-style: italic;
    line-height: 1.4;
    color: white;
}

#polandSection .author {
    width: 500px;
    font-family: 'Arimo', sans-serif;
    font-weight: 700;
    font-size: 11pt;
    font-style: italic;
    color: white;
    margin-bottom: 75px;
}

#polandSection .right {
    text-align: right;
    margin-left: 400px;
}

#polandSection .left {
    text-align: left;
    margin-right: 460px;
}

#polandSection #bottom {
    margin-top: 75px;
}

#consumptionSection {
    padding-top: 75px;
    padding-bottom: 75px;
} 

#consumptionSection p {
    font-family: 'Arimo', sans-serif;
    font-weight: 400;
    font-size: 12pt;
    line-height: 1.2;
    color: white;
    margin-top: 25px;
}

/* ^^^^^^^^^^^^^ BE LIKE THEM SECTION ^^^^^^^^^^^^^ */
#be_like_them {
    width: 100%;
    background-image: url('../assets/background.png');
    background-repeat: repeat;
    padding-top: 110px;
}
#be_like_them main {
    text-align: center;
}

#be_like_them .profile {
    float: left;
}

#be_like_them .profile_pic {
    margin-left: 20px;
}

#be_like_them .profile_info {
    width: 322px;
    background-color: #8a9ca7;
    padding-bottom: 25px;
}

#be_like_them .profile_info .name {
    font-family: 'Arimo', sans-serif;
    font-weight: 400;
    font-size: 18pt;
    text-align: center;
    color: white;
    padding-top: 20px;
}

#be_like_them .profile_info .about {
    font-family: 'Arimo', sans-serif;
    font-weight: 400;
    font-size: 14pt;
    text-align: center;
    color: white;
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
}

#be_like_them .description .full_description {
    width: 480px;
    border: solid 5px #8a9ca7;
    margin-top: 50px;
    margin-bottom: 25px;
    margin-left: 25px;
    float: left;
}

#be_like_them .description .programming_benefits {
    width: 480px;
    border: solid 5px #8a9ca7;
    margin-left: 25px;
    float: left;
}

#be_like_them .description h1 {
    font-family: 'Arimo', sans-serif;
    font-weight: 700;
    font-size: 14pt;
    text-align: left;
    color: black;
    padding-top: 20px;
    padding-bottom: 10px;
    padding-left: 20px;
}

#be_like_them .description p {
    font-family: 'Arimo', sans-serif;
    font-weight: 400;
    font-size: 11pt;
    line-height: 1.2;
    text-align: left;
    color: black;
    padding-left: 40px;
    padding-right: 20px;
    padding-bottom: 20px;
}

/* ^^^^^^^^^^^^^ SUPPORT SECTION ^^^^^^^^^^^^^ */
#support {
    width: 100%;
    height: 170px;
}

/* ^^^^^^^^^^^^^ FOOTER ^^^^^^^^^^^^^ */
footer {
    width: 100%;
    height: 169px;
    background-color: #2b2a27;
}

#footer_top {
    padding-top: 25px;
}

footer img {
    float: left;
    margin-right: 20px;
}

footer #motto {
    float: left;
}

footer #motto1 {
    font-family: 'Arimo', sans-serif;
    font-weight: 700;
    font-size: 10pt;
    color: white;
    margin-bottom: 5px;
}

footer #motto2 {
    font-family: 'Arimo', sans-serif;
    font-weight: 400;
    font-size: 10pt;
    color: white;
}
footer #social {
    float: right;
}

footer #find_us {
    font-family: 'Arimo', sans-serif;
    font-weight: 400;
    font-size: 10pt;
    color: white;
    float: left;
    margin-right: 25px;
}

footer #footer_bottom {
    margin-top: 85px;
}

footer nav ul {
    list-style: none;
    display: block;
    margin: 0 auto;
}

footer nav li {
    float: left;
    padding-right: 40px;
}

footer #footer_green_bar {
    width: 100%;
    height: 6px;
    background-color: #7bcc3f;
    margin-top: 120px;
}

footer #contact {
    font-family: 'Arimo', sans-serif;
    font-weight: 400;
    font-size: 12pt;
    color: white;
    float: right;
}

#online, #onlineSection{
    background-color: #ef3d6c;
}

#group, #groupSection {
    background-color: #ba5ca3;
}

#club, #clubSection {
    background-color: #7cd23c;
}

#workshops, #workshopsSection {
    background-color: #6a9fa7;
}

div.learn, div.teach, div.why {
    position: relative;
}

.animation.ng-leave,
.animation.ng-hide {
    position : absolute;
    top      : 0;
    width    : 100%;
    z-index  : 100;
}

/* left animation */
.animation-left.ng-show {
    -webkit-animation : enter_left_animation 750ms;
    animation         : enter_left_animation 750ms;
    left              : 100%;
}

.animation-left.ng-hide {
    -webkit-animation : leave_left_animation 750ms;
    animation         : leave_left_animation 750ms;
}

@keyframes enter_left_animation {
    from { left : 100%; }
    to { left : 0; }
}

@-webkit-keyframes enter_left_animation {
    from { left : 100%; }
    to { left : 0; }
}

@keyframes leave_left_animation {
    from { left : 0; }
    to { left : -100%; }
}

@-webkit-keyframes leave_left_animation {
    from { left : 0; }
    to { left : -100%; }
}

.rn-carousel-control {
    font-size: 50px !important;
    color: white;
    opacity: 1;
}

ul.slides {
    padding-top: 25px;
    padding-bottom: 25px;
}

nav figure {
    cursor: pointer;
}

section img.close {
    cursor: pointer;
    float: right;
    margin-right: 15%;
}

img.gray {
    -webkit-filter : grayscale(100%);
    -moz-filter    : grayscale(100%);
    filter         : grayscale(100%);
}

.profile_pic img {
    width: 281px;
    height: 430px
}