body {
    font-family: 'Arimo', sans-serif;
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: white;
}

.content {
    width: 1120px;
    margin: 0 auto;
}

header {
    width: 100%;
    height: 60px;
    background-color: #7bcc3f;
    position: fixed;
    z-index: 1;
    padding-top: 18px;
    padding-bottom: 18px;
}

header #top {
    width: 100%;
    height: 8px;
    background-color: #2a2a2a;
}

header #logo {
    padding-top: 6px;
    float: left;
}

header nav {
    width: 400px;
    float: right;
    margin-top: 22px;
}

header nav ul {
    list-style: none;
    display: block;
    margin: 0 auto;
}

header nav li {
    float: left;
    padding-left: 50px;
}

nav li a {
    color: #2b2a27;
    font-size: 16px;
    text-decoration: none;
    font-family: 'Arimo';
}
nav li a:active {
    color: white;
    border-bottom: 1px solid white;
}

nav li a:hover {
    color: white;
    border-bottom: 1px solid white;
}

#intro {
    width: 100%;
    height: 560px;
    padding-top: 99px;
}

#learn {
    background-image: url('../assets/background.png');
    background-repeat: repeat;
}

#teach {
    background-color: #FFFFFF
}

#learn, #onlineSection, #groupSection {
    width: 100%;
    height: 706px;
}

#teach, #clubSection, #workshopsSection {
    width: 100%;
    height: 702px;
}

#why {
    width: 100%;
    height: 490px;
    background-image: url('../assets/background.png');
    background-repeat: repeat;
}

#be_like_them {
    width: 100%;
    height: 811px;
    background-image: url('../assets/background.png');
    background-repeat: repeat;
}

#support {
    width: 100%;
    height: 170px;
}

footer {
    width: 100%;
    height: 169px;
    background-color: #2a2a2a
}

main {
    font-family: 'Arimo', sans-serif;
    font-weight: 400;
    font-size: 26pt;
    text-align: center;
    color: black;
    padding-top: 137px;
}

.content #tagline {
    font-family: 'Arimo', sans-serif;
    font-weight: 700;
    font-size: 30pt;
    text-align: center;
    color: black;
    margin-top: 240px;
}

.content aside {
    font-family: 'Arimo', sans-serif;
    font-weight: 400;
    font-size: 18pt;
    text-align: center;
    color: black;
    margin-top: 10px;
    margin-bottom: 90px;
}

.content .img {
    width: 88px;
    margin-left: auto;
    margin-right: auto;
}

#learn figure {
    width: 543px; 
    height: 297px;
    float: left;
}

#learn #online {
    margin-right: 34px;
}

#teach figure {
    width: 543px; 
    height: 297px;
    float: left;
}

#teach #club {
    margin-right: 34px;
}

#why .content figure {
    width: 348px; 
    height: 308px;
    float: left;
}

#why #language {
    margin-right: 34px;
    margin-top: 60px;
}

#why #poland {
    margin-right: 34px;
    margin-top: 60px;
}

#why #consumption {
    margin-top: 60px;
}

.content figcaption {
    font-family: 'Arimo', sans-serif;
    font-weight: 400;
    font-size: 18pt;
    text-align: center;
    color: white;
}

#online, #onlineSection{
    background-color: #ef3d6c;
}

#group, #groupSection {
    background-color: #ba5ca3;
}

#club, #clubSection {
    background-color: #7cd23c;
}

#workshops, #workshopsSection {
    background-color: #6a9fa7;
}

#language {
    background-color: #7da2b9;
}

#poland {
    background-color: #bf5b9d;
}

#consumption {
    background-color: #e0cc5e;
}

div.learn, div.teach {
    position: relative;
}

.animation.ng-leave,
.animation.ng-hide {
    position : absolute;
    top      : 0;
    width    : 100%;
}

/* left animation */
.animation-left.ng-show {
    -webkit-animation : enter_left_animation 750ms;
    animation         : enter_left_animation 750ms;
    left              : 100%;
}

.animation-left.ng-hide {
    -webkit-animation : leave_left_animation 750ms;
    animation         : leave_left_animation 750ms;
}

@keyframes enter_left_animation {
    from { left : 100%; }
    to { left : 0; }
}

@-webkit-keyframes enter_left_animation {
    from { left : 100%; }
    to { left : 0; }
}

@keyframes leave_left_animation {
    from { left : 0; }
    to { left : -100%; }
}

@-webkit-keyframes leave_left_animation {
    from { left : 0; }
    to { left : -100%; }
}